@model quanlydongho.Models.DanhMuc
@{
    ViewBag.Title = "Chi Tiết Danh Mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi Tiết Danh Mục</h2>

<div>
    <h3>@Model.TenDanhMuc</h3>
</div>

<div>
    <a href="@Url.Action("DanhMucs", "Admins")" class="btn btn-secondary">Quay lại danh sách</a>
</div>
